
 

#pageCharacter{
    width: 100%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    gap: 5vh;
    padding-bottom: 10vh;

    header{
        width: 100%;
    }
    #onlyCharacter{
        width: 100%;
        height: 100%;
        padding: 0 2em;
        gap: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        img{
            margin-top:5rem;
            width: 420px;
            height: 420px;  
            border-radius: 100%;
               
        }

        h2{
            text-align: center;
            font-size: 2.5rem;
        }

        .blocText{
            padding: 3vh 2em;
            font-size: 1.4rem;
            width: 90%;
            color: $white;
            transform: skew(-5deg);
            background-color: $dark-blue;
            box-shadow: 10px 10px 0px $text;


            p{
                font-family: 'Bangers', cursive;
                background-color: #9AC9FF;
                padding: 1rem;
                letter-spacing: 1.3px;
                line-height: 1.5em;
                text-align: center;
            }
        }
        
        i{
            position: relative;
            font-size: 20rem;
            bottom: 1113px;
            left: 322px;
        }

        .bubles{
            position: relative;
            bottom: 0px;
            left: 0px;
        }
    
        
    }
        
}


@media screen and (min-width: 1024px){
    #pageCharacter{
     
        
    
        header{
    
        }
        #onlyCharacter{

            .blocText{
                
                    width: 60%;
            }
    
        
            
        }
            
    }  
   
}
@media screen and (max-width: 520px){
    #pageCharacter{
        
        #onlyCharacter{
            gap: 1vh;
            img{
                
   
            }
    
            h2{
               
            }

            figure{
               
                transform: translate(163px, -242px);

                cite {
                    width: 60px;
                    text-align: center;
                    font-size: 12px;
                }
            
            }
            
        }
    
    }
}

/*.form {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:rotate(45deg) ;
    border: 5px solid black;
    //position: relative;
    
    &::after{
        content: "";
        width: 200px;
        height: 200px;
        background-color: $white;
    transform:rotate(-45deg) ;
    border: 5px solid black;
       // clip-path: polygon(50% 0, 100% 0, 100% 35%, 100% 100%, 100% 100%, 45% 84%, 0 100%, 19% 70%, 0 57%, 0 0);
        
        position: absolute;
        
        z-index: 999;
    }

    cite {
        
        text-align: center;
        color: aliceblue;
        position: relative;
        z-index: 10;
    }
    
}*/