.onlyCharacter{
    background-color: grey;
    figure{
        background-color: rgb(255, 0, 0);
        height: 300px;
        width: 300px;
        border-radius:100%;
    }
    img {
        height: 250px;
        width: 250px;
    }
}
.blue {
    background-color: blue;
}
